/* Colors */

$linear-gradient: linear-gradient(0.25turn, rgba(red, 0.5) 10%, rgba(red, 0.4) 30%, rgba(blue, 0.5) 100%);
$linear-gradient-back: linear-gradient(0.25turn, rgba(blue, 0.2) 10%, rgba(blue, 0.4) 30%, rgba(red, 0.5) 100%);
$linearText: linear-gradient(to right, rgba(#43dd, 0.8) 20%, rgba(red, 0.7) 60%);
$linear-gradient-light: linear-gradient(0.25turn, rgba(#f6d3c4, 5) 10%, rgba(#d2767e, 0.89) 30%);
$primary1: #333;
$primaryBackgroundDark: #111;

$primaryTitle: #888;
$primaryTitleDark: #111;
/* position */

$zBefore: 1;
$zMiddle: 3;
$zTop: 5;

/* font */

$small-font: 1.2em;
$medium-font: 1.5em;
