/* Colors */

$linear-gradient: linear-gradient(0.25turn, rgba(red, 0.5) 10%, rgba(red, 0.4) 30%, rgba(blue, 0.5) 100%);
$linear-gradient-back: linear-gradient(0.25turn, rgba(blue, 0.2) 10%, rgba(blue, 0.4) 30%, rgba(red, 0.5) 100%);
$linearText: linear-gradient(to right, red 30%, rgba(#43dd, 0.5) 50%);

$primary1: #333;
/* position */
