*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	min-height: 100vh;
}
:is(#app, body, main, .loading) {
	min-height: 100vh;
	overflow-x: hidden;
}

/* text */

.title {
	font-size: 4rem;
	color: $primaryTitle;
	&--dark {
		color: $primaryTitle2;
	}
}

.gradient-title {
	@extend .title;
	background: $linear-gradient;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	&--light {
		font-size: 8rem;
		background: $linear-gradient-light;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.text {
	font-size: 3rem;
	color: $primary1;
}

.gradient-text {
	@extend .text;
	background: $linearText;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	line-height: 1.6;
}
